* {
    box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    53% {
        opacity: 1;
    }

}

@font-face {
    font-family: 'GerTT-TR-Light';
    src: url('../public/assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../public/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../public/assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../public/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

iframe.ql-video {
    width:620px;
    height:410px;
}
